html{
    scroll-behavior: smooth;
  }

  body{
    margin: 0;
    padding-top: 50px;
  }


  





 
  




/*book-image section*/


 






/*about section*/











/*project section*/








/*contact section*/





/*Mobile view*/



